ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #190B28;
    display: block;
    margin-top: 0;
    padding: 30px;
}

li {
    float: left;
}

li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: 0.15s;
}

.left{
    float: left;
}

.right{
    float: right;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p, a{    
    font-family: 'Open Sans', sans-serif;
}

li a:hover {
    color: #E55381;
}


a{
    text-decoration: none;
    color: white;
}

b{
    font-size: 24px;
    color:white;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

body{
    background-color: #FFFFFF;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}


.right{
    float: right;
}

.left{
    float: left;
}

.c1{
    background-color: #685762;
}

.c2{
    background-color: #9B9987;
}

.c3{
    background-color: #091107;
}

.c4{
    background-color: #FFFFFF;
}

.c5{
    background-color: #190B28;
    
}


.fc3{
    color: #091107;
}

header{
    position: relative;
}

.rarrow{
    position: absolute;
    top: 51%;
    left: 69%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.larrow{
    position: absolute;
    top: 51%;
    left: 30%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.rarrow:hover{
    color: #E55381;
}

.larrow:hover{
    color: #E55381;
}


.parallax {
    background-image: url('images/lut 1.jpg');
    min-height: 80vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: -16px;
    flex-direction: column;
}

.parallax2 {
    background-image: url('images/4BGIMG.jpg');
    min-height: 80vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: -16px;
    flex-direction: column;
}

.parallax3{
    background-image: url('images/6BGIMG.jpg');
    min-height: 80vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: -16px;
    flex-direction: column;
}

.parallax4{
    background-image: url('images/5BGIMG.jpg');
    min-height: 80vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: -16px;
    flex-direction: column;
}

.center1{
    color: white;
    font-weight: 1000;
    text-shadow: black 3px 2px 2px;
    font-size: 45px;
    margin-bottom: 0%;
}

.center2{
    color: white;
    text-shadow: black 3px 2px 2px;
    font-size: 20px;
    margin-top: 0%;
    opacity: 0.9;
}

.center3{
display: block ;
margin: auto;
}


.topnav {
    overflow: hidden;
    background-color: #190B28;
    position: relative;
    
}

.topnav #myLinks {
    display: none;
    background-color: 190B28;   
}

.topnav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.topnav a.icon {
    background: #111C24;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #FFFFFF;
}

.topnav a:hover {
    color: #E55381;
    background-color: #111C24;
}

.container{
    display: flex;
    flex-direction: column;
}

.container1{
    margin: none;
    padding-bottom: 50px;
    width: 70%;
}

.container2{
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
}

.bekas{
    flex: 100%;
    text-align: center;
    justify-content: center;
    background-color: #190B28;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.bekas2{
    width: 80%;
    display: block;
    margin: auto;
}

.bekas2 p{
    padding-bottom: 24px;
}

.bekas3{
    flex: 100%;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #000;
}

.bekas4{
    margin: auto;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    align-items: center;
        color: #000;
    transition: 1s;
}

.bekas4 img{
    width: 350px;
    height: 400px;
    object-fit: cover;
}

.button1{
    color: black;
    background-color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

.button1:hover{
    background-color: #9B9987;
}

.button2{
    color: whitesmoke;
    background-color: #190B28;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.button2:hover{
    color: #E55381;
}

.button3{
    color: black;
    background-color: #9B9987;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.button3:hover{
    color: white;
}

.button4{
    color: whitesmoke;
    background-color: #190B28;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 200;
}

.button4:hover{
    color: #E55381;
}

.bekas p{
    display: block;
    color: whitesmoke;
    margin: auto;
    width: 80%;
    padding-bottom: 45px;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.flexcontainer2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.flexcontainer p{
    padding-top: 30px;
    color: #190B28;
    font-size: 15px;
}

.flexcontainer2 p{
    padding-top: 30px;
    color: #190B28;
}

.flexcontainer2 h1{
    color: #190B28;
}

.flexitem0 {
    flex: 45%;
    justify-content: center;
    align-items: center;
    overflow-wrap: normal;
    padding: 24px;
}

.flexitem1{
    flex: 55%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexitem2{
    flex: 65%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexitem3{
    flex: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
}

.flexitem4 {
    flex: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
    font-weight: bolder;

}
.circle{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
}

.icon{
    padding-right: 6px;
    padding-left: 6px;
    opacity: 0.8;
}

.copyright{
    text-align: center;
    padding-bottom: 6px;
    margin-top: 20px;
}

.copyright p{
    color: white;
}

svg{
    fill:#FFFFFF; 
    width: 24px;
}

footer{
    display: block;

    width: 100%;
}

.info{
    background-color: #190B28;
    color: #fff;
    padding: 15px;
}

.price{
    background-color: #9B9987;
    padding: 15px;
}

.buylink{
    transition: 0.3s;
}

.buylink:hover{
    color: #190B28;
}

col{
    transition: 1s;
}

.col:hover{
    transform: translateY(-25px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.kotak .heading{
    width: 50%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.kotak .heading h7{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #190B28;
}

.kotak .heading h7 span{
    font-weight: 100;
}

.kotak .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.kotak .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.kotak .box .dream img{
    width: 100%;
    padding-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.kotak{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #9B9987;
    padding-bottom: 20px;
}

.icon2{
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#home{
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #190B28;
    background-color: #9B9987;
    padding: 0 100px;
}

.content1{
    display: flex;
    flex-direction: column;
    padding-top: 170px;
}

.title{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.image{
    object-fit: cover;
    width: 370px;
    height: 270px;
}

.content2{
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    padding-left: 20px;
}

.content2 .image{
    background-image: url('images/3BGIMG.jpg');
}

.title p{
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    line-height: 25px;
}


@media screen and (min-width:768px){
    .topnav{
        display: none;
    }
    
    .hidel{
        display: none;
    }

    
}

@media screen and (max-width:768px){
    ul{
        display: none;
    }

    .container2{
        flex-direction: column;
    }

    .rarrow{
        position: absolute;
        top: 51%;
        left: 90%;
        transform: translate(-50%, -50%);
    
    }
    
    .larrow{
        position: absolute;
        top: 51%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
}